.nav-list-link,
.contacts-list-link,
.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms var(--timing-fn);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
